.env
/vendor
/node_modules
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/public/storage
_draft/

/bootstrap/cache/*.php
!/bootstrap/cache/.gitignore
